.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1100px;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.form-box {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box form {
  width: 80%;
}

.form-box label {
  color: var(--primary-color-2);
}

.profile-input-group {
  display: flex;
  flex-direction: column;
  color: gray;
  margin-bottom: 30px;
}

.profile-input-group input[type="text"],
.profile-input-group input[type="number"] {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: 1px solid var(--primary-color-2);
  font-size: 16px;
  background-color: #f7f7f7;
  color: gray;
}

.profile-input-group input[type="text"]:focus,
.profile-input-group input[type="number"]:focus {
  outline: none;
}

.profile-button-box {
  width: 100%;
  text-align: center;
}

.profile-button-box button {
  width: 180px;
  height: 50px;
  font-size: 18px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  color: white;
  outline: 0;
  border: o;
}

.profile-button-box button:nth-of-type(1) {
  background-color: darkred;
}

.profile-button-box button:nth-of-type(2) {
  background-color: var(--primary-color-1);
}

.profile-button {
  width: 200px;
  padding: 6px 45px;
  background-color: #69b655;
  color: white;
  cursor: pointer;
  outline: none;
  border: 0;
  margin-top: 150px;
}

.profile-button:hover {
  background-color: #427435;
}

.profile-modal {
  border: 3px solid var(--primary-color-2);
  border-radius: 10px;
  padding: 0;
}

.profile-modal p {
  font-size: 18px;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}

.profile-modal button {
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 2%;
  width: 46%;
  max-width: 200px;
  margin: 0 5px;
}

.profile-modal .buttons-box button:nth-of-type(1) {
  background-color: darkred;
}

.profile-modal .buttons-box button:nth-of-type(2) {
  background-color: var(--primary-color-1);
}
